@model CapturedVariableItem

<div class="group">
    <div class="form-group">
        @Html.LabelFor(x => Model.Name, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-2">
            @Html.TextBoxFor(x => Model.Name, new { @class = "form-control", placeholder = "Description" })
        </div>
        @Html.LabelFor(x => Model.Regex, new { @class = "col-sm-1 control-label" })
        <div class="col-xs-6 col-sm-5 col-lg-6">
            @Html.TextBoxFor(x => Model.Regex, new { @class = "form-control variable-compatible", placeholder = "Regex", autocomplete="off" })
        </div>
        <div class="col-xs-1 col-sm-2 col-lg-1">
            @Html.Partial("Partials/_RemoveRow")
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => Model.PostProcessorType, new { @class = "col-sm-2 control-label" })
        <div class="col-xs-6 col-sm-2 col-lg-2">
            @Html.EnumDropDownListFor(x => Model.PostProcessorType, new { @class = "form-control", placeholder = "Regex" })
        </div>
    </div>
</div>