@model IndexViewModel
@{
    ViewBag.Title = "Home";
}
<div class="container" id="tests">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li>Test Files</li>
            </ul>
        </div>
    </div>
    <h2>Test Files</h2>
    <div class="row">
        <nav class="col-xs-9">
            @Html.Partial("Partials/_TestFilePager")
        </nav>
        <div class="col-xs-3 text-right">
            <a title="Add Test File" class="btn btn-sm btn-primary" href="@Url.Action("Add", "TestFile")">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped file-list">
        <thead>
            <tr>
                <th>Name</th>
                <td></td>
            </tr>
        </thead>
        <tbody>

            @foreach (string filename in Model.Files)
            {
                <tr>
                    <td class="filename">@filename</td>
                    <td>
                        <a title="Edit Test File" class="btn btn-sm btn-primary" href="@Url.Action("View", "TestFile", new {filename = filename})">
                            <i class="material-icons">edit</i>
                        </a>

                        @using (Html.BeginForm("Run", "Home"))
                        {
                            @Html.Hidden("filename", filename)
                            @Html.Partial("Partials/_RunTest", new EnvironmentSelectorViewModel(Model.Environments, RunButtonType.PlayButton))
                        }
                        
                        @using (Html.BeginForm("Copy", "TestFile"))
                        {
                            <input type="hidden" name="sourceTestFile" value="@filename" />
                            <input type="hidden" name="targetTestFile" value="" />
                            <button title="Copy Test File" class="btn btn-sm btn-material-pink copy-file-button" type="submit">
                                <i class="material-icons">content_copy</i>
                            </button>
                        }

                        @using (Html.BeginForm("Delete", "TestFile"))
                        {
                            @Html.Hidden("filename", filename)
                            <button title="Delete Test File" class="btn btn-sm btn-danger delete-button" type="submit">
                                <i class="material-icons">delete</i>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("Partials/_TestFilePager")
</div>
