@model IRunViewModel
@{
    ViewBag.Title = "Run";
}
@section Scripts
{
    <script type="text/javascript">
        var filename = "@Model.FileName";

        $(document).ready(function () {
            var progress = new Syringe.Web.ProgressPoller();
            progress.poll(@Model.CurrentTaskId);
        });
    </script>
}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<a class="btn btn-primary pull-right" target="_blank" href="@Url.Action("View", "TestFile", new {filename = Model.FileName})">View Tests</a>
			@using (Html.BeginForm("Run", "Home"))
			{
				@Html.HiddenFor(x => x.Environment)
				<button title="Run" class="btn btn-primary pull-right" type="submit" name="filename" value="@Model.FileName"> Run again </button>
			}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>Running @Model.FileName</h2>
		</div>
	</div>
    <div class="row">
        <div class="col-xs-12">
            <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: 0">
                    <span class="sr-only">0% Complete</span>
                </div>
            </div>

            <span class="label label-material-indigo">@Model.Environment</span>
        </div>
    </div>
</div>
