@model TestFileViewModel
@{
    ViewBag.Title = "Viewing " + Model.Filename;
}
<div class="container" id="view-file">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a title="View" href="/">Test Files</a></li>
                <li>@Model.Filename</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <nav class="col-xs-7">
            @Html.Partial("Partials/_TestPager")
        </nav>
        <div class="col-xs-5 text-right primary-actions">
            <a class="btn btn-sm btn-primary" href="@Url.Action("Add", "Test", new {filename = Model.Filename, pageNumber = Model.PageNumber, noOfResults = Model.NoOfResults})">Add</a>
            <a class="btn btn-sm btn-primary" href="@Url.Action("Update", "TestFile", new {filename = Model.Filename, pageNumber = Model.PageNumber, noOfResults = Model.NoOfResults})">Variables</a>
            <a class="btn btn-sm btn-primary reorder-test" data-filename="@Model.Filename" href="#">Reorder tests</a>
            @using (Html.BeginForm("Run", "Home"))
            {
                <input type="hidden" name="filename" value="@Model.Filename" />
                @Html.Partial("Partials/_RunTest", new EnvironmentSelectorViewModel(Model.Environments, RunButtonType.RunAllTests))
            }
        </div>
    </div>

    @if (Model.Tests.Any() == false)
    {
	    <p>No test tests found.</p>
	}
	else
	{
        <table class="table table-bordered table-striped tests-table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                @foreach (TestViewModel test in Model.Tests)
                {
                    <tr>
                        <td>
                            @(test.Position + 1)
                        </td>
                        <td class="description">
                            <p>
                                <strong>@test.Description</strong>
                            </p>
                            <h6>@test.Url</h6>
                            
                            @if (test.RequiredEnvironments.Any())
                            {
                                <span class="small"><strong>Required Environments:</strong></span>
                                <ul class="required-environments">
                                    @foreach (string environment in test.RequiredEnvironments)
                                    {
                                        <li class="label label-warning">@environment</li>
                                    }
                                </ul>
                            }
                        </td>
                        <td class="actions">
                            <a title="Edit Test" class="btn btn-sm btn-primary" href="@Url.Action("Edit", "Test", new {filename = Model.Filename, position = test.Position, pageNumber = Model.PageNumber, noOfResults = Model.NoOfResults})">
                                <i class="material-icons">mode_edit</i>
                            </a>

                            @using (Html.BeginForm("Copy", "Test"))
                            {
                                <input type="hidden" name="filename" value="@Model.Filename"/>
                                <input type="hidden" name="position" value="@test.Position"/>
                                <button title="Copy Test" class="btn btn-sm btn-material-pink" type="submit">
                                    <i class="material-icons">content_copy</i>
                                </button>
                            }

                            @using (Html.BeginForm("Delete", "Test"))
                            {
                                <input type="hidden" name="filename" value="@Model.Filename"/>
                                <input type="hidden" name="position" value="@test.Position"/>
                                <button title="Delete Test" class="btn btn-sm btn-danger delete-button" type="submit">
                                    <i class="material-icons">delete</i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.Partial("Partials/_TestPager")
    }
</div>